html,
body {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0.95em;
  line-height: 1.6em;
  background-color: whitesmoke;
}

table,
td,
th {
  border: 1px solid #666;
  margin: 0 auto;
  margin-top: 4em;
  font-weight: 600;
}

td,
th {
  padding: 10px;
}

td {
  background-color: #fff;
  color: #555;
}

th {
  background-color: #4993c2;
  padding: 20px;
}

table {
  border: 4px solid #4993c2;
}

input[type="button"]{
   outline:none;
}
input[type="button"]::-moz-focus-inner {
   border: 0;
}

.container-fluid {
  margin: 0 auto;
  padding: 0;
}

.books-container {
  float: left;
  margin: 0 auto;
  padding: 2em;
  width: 70%;
}

.books-page-header {
  color: #4993c2;
}

.books-headings {
  color: white;
}

.site-title-container {
  color:#4993c2;
  background-color: whitesmoke;
  width: 12em;
  padding: 10px;
  line-height: 1.4em;
  font-weight: 700;
}

.site-title-container:hover {
  cursor: pointer;
}

.form-control {
  background-color: whitesmoke;
  border: 1px solid #666;
}

.form-control:focus {
  background-color: whitesmoke;
  border: 1px solid #666;
}

.site-title {
  font-size: 1.1em;
  text-transform: uppercase;
  color:#4993c2;
}

.site-title:hover {
  color: #4993c2;
  text-decoration: none;
}

.site-title-span {
  color:#d43c3d;
  display: block;
}

.site-links {
  background-color: whitesmoke;
  padding: 12px 8px;
  border: 1px solid #666;
  border-radius: 4px;
}

.username-area {
  color: #337299;
  padding: 4px;
  background-color: whitesmoke;
  border: 1px solid #666;
  border-radius: 4px;
  font-weight: bold;
}

.users-area {
  color: #337299;
}

.users-area a {
  color: #337299;
  font-weight: bold;
}


.search-button {
  color: whitesmoke;
  background-color: #4993c2;
  border-color: #4993c2;
}

.search-button:hover {
  background-color: #4993c2;
  border-color: #333;
}

.search-button:focus {
  background-color: #4993c2!important;
  border-color: #333;
}

.navbar {
  height: 7em;
  background-color: #cccccc !important;
}

nav {
  border-bottom: 1px solid #999;
}

.active a {
  color: white;
  font-size: 1.2em;
}

.available-books {
  border: 1px solid #8d9096;
  color: #282828;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  font-size: 0.8em;
}


.book-title {
  color: #337299;
  text-decoration: underline;
  cursor: pointer;
}

.book-title:hover {
  color: #337299;
  cursor: pointer;
  text-decoration: none;
}

.registration-form {
  width: 400px;
  margin: 4em auto;
  border: 3px solid #4993c2;
  padding: 50px;
}

.register-login-button {
    color: whitesmoke;
    background-color: #4993c2;
    border-color: #4993c2;
    min-width: 100%;
}

.register-login-button:hover {
    color: white;
    background-color: #3980ac;
    border-color: #3980ac;
    min-width: 100%;
}


.register-login-button:focus {
    color: white;
    background-color: #3980ac;
    border-color: #3980ac;
    min-width: 100%;
}

.rating {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.register-button {
  min-width: 100%;
}


.wrong-username {
  color: #d43c3d;
}

.welcome-member {
  float: left;
  margin: 0;
  color: #4993c2;;
}


.unavailable-book{
  color: #555;
  background-color: #e38282;
  cursor: not-allowed;
}



.already-rented{
  background-color: #e38282;
  cursor: not-allowed;
  text-transform: lowercase;
}

.already-rented-link {
  color: #555;
}

.rent-book, .return-book {
  text-transform: lowercase;
  color: #337299;
  text-decoration: underline;
  cursor: pointer;
}

.rent-book:hover, .return-book:hover {
  color: #265573;
  text-decoration: none;
}


.my-books-link {
  color: #337299;
  font-weight: bold;
  margin-left: 1em;

}

.my-books-link:hover {
  color: #265573;
  text-decoration: underline;
}

.book-info-container{
  margin-top: 2em;
  padding: 2em;
  text-align: left;
  display: flex;
}

.book-covers {
  width: 330px;
  height: 500px;
  border: 2px solid #282828;
}

.book-info-left, .book-info-right {
  padding: 20px;
  flex: 1 1 1;
}

.book-info-right {
  background-color: white ;
  flex: 3.5;
  max-width: 900px;
  padding-right: 4em;
  float: left;
  margin-left: 4em;
}



.book-info-title {
  display: inline-block;
  margin-right: 0.5em;
}

.book-info-published-date {
  color: #555;
  font-size: 1.15em;
}

.book-info-author-link {
  color: #4993c2;
}

.book-info-author-link:hover {
  color: #4993c2;
}

.review-section{
  margin-top: 2em;
}

.review-section-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.review-tip {
  font-size: 0.9em;
}

.write-review-button {
  background-color:#4993c2; 
  color: #f6f4f4 !important;
  transition: ease 0.3s;
}

.write-review-button:hover {
  background-color:#337299; 
  color:white;
}

.review-container {
  margin: 2em;
  padding: 4em;
  text-align: center;
}

.rating {
  width: 100px;
}

.review-button {
  background-color: #799c24;
  color: #f6f4f4 !important;
  border: 1px solid #799c24;
  transition: ease 0.3s;
}

.review-button:hover {
  background-color: #709121;
  color: white !important;
  border: 1px solid #709121;
}

.review-title-on-page {
   font-weight: 700;
}

.rating-star {
  font-size: 0.8em;
  color: #e6b23a;
}

.review-info {
  margin-bottom: 0.6em;
}

.review-container-on-page {
  margin-bottom: 2em;
}

.review-user-on-page {
  font-weight: 700;
  color:#4993c2;
  text-transform: capitalize;
}

.review-date-on-page {
  color: #666;
  font-size: 0.9em;
}

.reviewer-icon {
  color: grey;
  font-size: 1.4em;
}

.positive-reviews {
  color: #000;
  font-weight: 700;
}

.voting-area {
  background-color: #4993c2;
  padding: 10px;
  color: white;
  border-radius: 5px;
  width: 250px;
  text-align: center;
  font-weight: bold;
}

.vote-button {
  font-size: 1.2em;
  margin-right: 0.5em;
  color: #d9e8f2;
}

.vote-button:hover {
  color: white;
}

.review-vote-button, .review-vote-button-disabled {
  font-size: 1.2em;
  margin-right: 0.5em;
  color: #4993c2;;
}

.review-vote-button-disabled {
  color: #666;
}

.edit-button {
  font-size: 1.2em;
  margin-left: 1em;
  color: #4993c2;;
}


.review-content {
  margin-left: 2em;
}

.review-image {
  width: 330px;
  height: 500px;
  margin: 1em 0em;
}

.user-link {
  color: #337299;
  font-weight: bold;
}

.user-link:hover {
  color: #337299;
  font-weight: bold;
}

.member-profile {
  width: 900px;
  margin: 0 auto;
  font-size: 0.9em;
  margin-bottom: 2em;
} 

.profile-image-container {
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 22em;
}

.reader-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  float: left;
  margin-top: 2em;
  margin-left: 2em;
  display: inline-block;
}

.user-details-container {
  text-align: left;
}

.member-name {
  display: inline-block;
  margin-top: 4em;
}

.member-location {
  display: inline-block;
}

.user-activity {
  background-color: white;
  margin-top: 1em;
  border: 1px solid #4993c2;
  text-align: left;
  padding: 20px;
  border-radius: 4px;
}

.about-user, .insights-title, .favourite-books-title {
  font-weight: bold;
  margin-bottom: 2em;
}

.community-activity-title {
  font-size: 1.3em;
  font-weight: 500;
}

.community-activity > p {
  margin-bottom: 0;
}

.user-activity > p {
  line-height: 1.2em;
}

.about-insights {
  padding: 0 !important;
}

.col-sm-4, .col-sm-8 {
  margin: 0 auto !important;
  padding: 0 !important;
}

.insights {
  margin-left: 1em;
  background-color:white;
  border: 1px solid #d5dbdb;
  box-shadow: 0 1px 2px 0 rgba(135,149,150,.1);
  margin-top: 1em;
  padding: 20px;
  text-align: left;
}

.user-reviews {
  display: inline-block;
  margin-right: 2em;
}


.user-reviews-count {
  font-size: 2em;
  margin-bottom: 0.2em;
}

.favourite-activity {
  margin-top: 1em;
}

.favourite-books {
  background-color:white;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: left;
}

.favourite-books-container {
  display: flex;
  align-content: space-between;
}

.favourite-book-image {
  width: 65px;
  height: 100px;
  margin-right: 30px;
  border: 1px solid #ccc;
}

.reviewed-book-image {
  width: 42px;
  height: 63px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.community-activity {
  background-color: white;
  border: 1px solid #ccc;
  margin-left: 1em;
  text-align: left;
  padding: 20px;
}

.header-member-profile {
  background-color: white;
  border: 1px solid #ccc;
}


.member-review-date {
  background-color: white;
  border: 1px solid #ccc;
  margin-left: 1em;
  padding: 20px;
  text-align: left;
  margin-top: 1em;
  line-height: 100%;
  border-bottom: 0px;
}

.member-review-date > p {
  margin-bottom: 0;
}

.member-review-date-username {
  font-weight: bold;
  margin-right: 1em;
}

.member-review-date-date {
  color: #666;
}

.review-content-member-page {
  background-color: white;
  border: 1px solid #ccc;
  margin-left: 1em;
  padding: 20px;
  text-align: left;
}

.member-review-date-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1em;
}

.book-reviewed {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 2em 0 1em 0;
}

.reviewed-book-title {
  color: #282828;
  font-weight: bold;
  transition: ease 0.3s;
}

.reviewed-book-title:hover {
  color: #4993c2; 
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}


.books-page-menu {
  text-align: center;
  width: 200px;
  height: 100%;
  background-color: whitesmoke;
  color: black;
  padding: 2em 0;
}

.side-menu-links {
  color: black;
}

.left-menu-search-area {
  margin-top: 2em;
}